/*Nav Bar*/
header{
    background: rgb(3, 3, 3);
    height: 66px;
}


header .logo span{
    color:rgb(240, 108, 0);
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text{
    margin: 8px;
    font-family: 'Candal', sans-serif;
}

header *{
    color: white;
    font-family: 'Candal', sans-serif;
}

header ul{
    float: right;
    margin:0px;
    padding: 0px;
    list-style: none;
}

header ul li{
    float:left;
    position: relative;
}

header ul li a{
    Display: block;
    padding: 21px;
    font-size: 1.2em;
    text-decoration: none;
}

header ul li a:hover{
    background: white;
    color: black;
    transition: 0.5s;
}

header ul li ul{
    position: absolute;
    background: black;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
    z-index:99999999;
}

header ul li:hover ul{
    display: block;
}

header ul li ul li{
    width: 180px;
}

header ul li ul li a{
    padding: 10px;
}

header ul li ul li a:hover{
    background: white;
    color: black;
}


header .menu-toggle{
    display: none;
}

header ul li ul li .logout{
    color:red;
}

header ul li ul li .logout:hover{
    color:rgb(43, 255, 0);
}
/*Admin Wrapper*/
.Admin-wrapper{
    height:calc(100% - 66px);
    display: flex;
    width: 100%;
}

/*Left Sidebar*/
.Admin-wrapper .left-sidebar{
    flex: 2;
    height: 100%;
    background-color: rgb(59, 59, 59);
}

.Admin-wrapper .left-sidebar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: white;
}

.Admin-wrapper .left-sidebar ul li a{
    padding: 18px;
    display: block;
    border-bottom: 1px solid black;
    transition: .25s;
}

.Admin-wrapper .left-sidebar ul li a:hover{
    color: orangered;
    background: White;
    transition: .25s;
}

/*Admin Content*/
.Admin-wrapper .Admin-content{
    flex: 8;
    border: 1px grey solid;
    height: 100%;
    padding: 40px 100px 100px;
    overflow-y: scroll;
}

.Admin-content .page-title{
    text-align: center;
    margin-bottom: 1.5rem;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}

th, td{
    padding: 15px;
    text-align: left;
    border-bottom: 2px solid lightgray;
}

.edit{
    color: green;
}

.edit:hover{
    text-decoration: underline;
}

.delete{
    color: red;
}

.delete:hover{
    text-decoration: underline;
}
.publish{
    color: orange;
}

.publish:hover{
    text-decoration: underline;
}

/*Admin Form*/

form div {
    margin-bottom: 20px;
}

form div label{
    font-size: larger;
    text-decoration: solid;
}

