*{
  box-sizing:border-box;
}

html, body{
    height: 100%;
    padding: 0px;
    margin:0px;
    background: white;
    font-family: 'Libre Caslon Display', sans-serif;
}

p{
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Libre Caslon Display', sans-serif;
    Color: rgb(39, 38, 38);
    margin: 5px;
}

h6{
    text-align: left;
    margin-bottom:40px;
}

a {
    text-decoration: none;
    color: inherit;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.btn{
    padding:.1rem 1rem;
    background: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 1.5rem;
    font-size: 20px; 
    transition: .25s;
}

.footer .footer-content .footer-section form .btn{
    border: white;
    color: white;
}

.btn-big{
    padding: 1rem 1rem;
    line-height: 1.5rem;
}

.btn:hover{
    background: rgb(255, 255, 255);
    border: 1px solid transparent;
    color: black !important;
    box-shadow: 10px 10px 10px -10px black !important;
    transition: .25s;
    
}

.text-input{
padding: .7rem 1rem;
display: block;
width: 100%;
border-radius: 5px;
outline: none;
color: black;
line-height: 1.5 rem;
font-family: 'Libre Caslon Display', sans-serif;
border: 1px solid orange;
font-size: 1.2em;
}
/*AUTH Message*/
.msg{
    width: 100%;
    margin: 5px auto;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
}

.success{
    color: green;
    border: 1px solid green;
    background: rgb(156, 253, 156);
}

.error{
    color: rgb(133, 1, 1);
    border: 1px solid rgb(133, 1, 1);
    background:rgb(255, 166, 166);
}



/*NAV Bar*/
header{
    background: black;
    height: 66px;
}


header .logo span{
    color:rgb(240, 108, 0);
}

/*Header sticky*/                                      /*<------------------Update--------------------------*/
header.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        position: fixed;
        top: 0;
        width: 100%; 
        z-index: 99999; 
    }


header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text{
    margin: 8px;
    font-family: 'Candal', sans-serif;
}

header *{
    color: white;
    font-family: 'Candal', sans-serif;
}

header ul{
    float: inline-start;
    margin:0px;
    padding: 0px;
    list-style: none;
}

header ul li{
    float: left;
    position: relative;
    padding: 15px;
}

header ul li a{
    Display: block;
    padding: 4px;
    margin-top: 4px;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    
}

header ul li a:hover{
    background: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 0.6s;
    color: black;
}

.active{
    background: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 0.6s;
    color: black;
}

header .nav{
    margin: auto;
    position: relative;
    margin-left: 26%;
}

header .social-nav{
    float: right !important;                              /*<!---Social logos--->*/

    
}
header .social-nav li a:hover{
    background: none;
}

header .social-nav li a .fa-facebook:hover{
    color: rgb(46, 46, 253) !important;
}

header .social-nav li a .fa-instagram:hover{
    color: rgb(243, 28, 128) !important;
}

header .social-nav li a .fa-twitter:hover{
    color: rgb(35, 181, 248) !important;
}

header .social-nav li a .fa-youtube:hover{
    color: rgb(250, 14, 14) !important;
}



header ul li ul{
    position: absolute;
    background: black;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
    z-index:99999999;
}

header ul li:hover ul{
    display: block;
}

header ul li ul li{
    width: 180px;
}

header ul li ul li a{
    padding: 10px;
}

header ul li ul li a:hover{
    background: white;
    color: black;
}


header .menu-toggle{
    display: none;
}

header ul li ul li .logout{
    color:red;
}

header ul li ul li .logout:hover{
    color:rgb(43, 255, 0);
}

/* Post Slider*/
.page-wrapper{
    min-height: 100%;
    overflow: hidden;
}
.page-wrapper a:hover{
     transition: .25s;
}

/**
.post-slider .post-wrapper .slider-title{
    text-align: center;
    margin: 0px auto;
}**/

.post-slider .post-wrapper i{
    margin: auto;
}

.post-slider .post-wrapper .next{
    position: absolute;                              /*<-----------------------------------*/
    top:40%;
    right: 30px;
    font-size: 5em; 
    color: black;
    cursor: pointer;
    z-index: 1;
    padding-top: 50px;
}

.post-slider .post-wrapper .next:hover{
    color: orange;
    box-shadow: orange 1em 1em 1em -1em;
    z-index: 1;
    margin-bottom: 5px; 
    transition: .25s;
}

.post-slider .post-wrapper .prev{
    position: absolute;
    top:40%;
    left: 30px;
    font-size: 5em;
    color:black;
    cursor: pointer;
    z-index: 1;
    padding-top: 50px;
}

.post-slider .post-wrapper .prev:hover{
    color:orange;
    box-shadow: orange 1em 1em 1em -1em;
    z-index: 1;
    margin-bottom: 2px;
    transition: .25s;
}


.post-slider .post-wrapper{
    width: 100%;
    height: 320px;
    padding: 20px 30px 30px 12px;
    margin: auto;
    overflow: hidden;
    border-left: solid white 20px;
    border-right: solid white 20px;
}

.post-slider .post-wrapper .post{
    width:500px;
    height:100px;
    display: inline-block;    
}

.post-slider .post-wrapper .post:hover{
    box-shadow: orange 1rem 1rem 1rem -1rem;
    transition: .25s;
}

.post-slider .post-wrapper .post .post-info{
    height: 130px;
    padding: 10px 5px;
}

.post-slider .post-wrapper .post .slider-image{
    width:100%;
    height:220px;
}

/*Content*/
/*Content Sections*/
.content{
    width:90%;
    margin: 30px auto 30px;
    padding-top: 67px;
}

.content .main-content{                       /*<---Main Content-->*/
    width:70%;
    float: left;
}
/* Front page */
.content .main-content .front-page .front-title{
    font-size: 1.5rem;
    padding-bottom: 20px;
    width: 90%;
}
.content .main-content .front-page .front-title:hover{
    text-decoration:underline;
}

.content .main-content .front-page .main-image img{
    width:97%;
    padding: 30px 0px 30px;
    margin-left: 5px;
}

.content .main-content .second-front-page .second-front-title{
    font-size: 1.5rem;
    padding-bottom: 20px;
    width: 90%;
}
.content .main-content .second-front-page .second-front-title:hover{
    text-decoration:underline;
}

.content .main-content .second-front-page .second-main-image img{
    width:97%;
    padding: 30px 0px 30px;
    margin-left: 5px;
}                                                                               /*<-------------------------------------*/
/*Front Page*/



/*Main Posts*/
.content .main-content.single{
    background: white;
    padding: 20px 50px;
    font-size: 1.1em;
    border-radius: 5px;
    
}
.content .main-content.single .post-title{
    text-align: center;
    margin-bottom: 30px;
}

.content .main-content.single .post-content{
    font-size: 1.8rem;
    font-style: normal;
}

.content .main-content .recent-post-title{
    margin: 5px;
    font-size: 2.0rem;
    width:100%;
}

.content .main-content .post{
    width:85%;
    height: 180px;
    padding-left: 18px;
    border-radius: 5px;
    position: relative; 
    padding: none;  
    background: white;        /*<--------------->*/
    margin-top: 15px;
}
/*Main Posts*/

/*News Snippets*/
.content .main-content .news-snippets{
    padding-bottom: 100px;
    
}
.content .main-content .news-snippets .snippets-title{
    width: 100%;
    padding: 40px 0px 0px;
    display: flex;
}

.content .main-content .news-snippets .snippets-title a{ 
    width: 18%;
    text-align: center;
    font-size: 1.4rem;
}
.content .main-content .vid-snippet .video-window{
    flex-direction: column;
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.content .main-content .vid-snippet .video-window .video-js{
    width: 100%;
    height: 550px;
    padding-bottom: 50px;
}
/*Video Carousell*/



/*Video Carousell*/


/*News Snippets*/

/*Poplar Posts*/
.content .popular .post{
    margin-top: 5px;
    padding-top: 5px;
}


.content .popular .post h4{
    font-size: 1.3em;
}

.content .popular .post h4{
    transition: .3s;
}

.content .popular .post h4:hover{
    text-decoration: underline;
    transition: .3s;
}


.content .popular .post img{
    height: 60px;
    width: 75px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.content .main-content .post .read-more{
    position: absolute;
    right: 10px;
}

.content .main-content .post .read-more:hover{
    text-decoration: none !important;
}

.content .main-content .post .post-image{
    width: 40%;
    height: 100%;
    float: left;                             /*<-------Post image--------*/
}

.content .main-content .post a:hover {

    text-decoration: underline !important;

}
.content .main-content .post .post-preview{
    padding-left: 10px;
    width: 60%;
    float: right;            /*-------Post Preview---------*/
}

.content .main-content .post .post-preview h2{
    font-size: 2.0em; 
    padding-top: 20px;
    
}

/*side bar*/                                                     /*<--Side bar--->*/
.content .side-bar{
    width:30%;
    float: left;
}

.content .side-bar.single{
    padding: 0px 10px;    
}
.content .side-bar .section{
    background: white;
    padding: 20px;
    border-radius: 5px; 
    margin-bottom: 20px;
}

.content .side-bar .section .section-title{
    margin: 10px 0px 10px 0px;
}
.content .side-bar .section.search{
    margin-top: 80px;
}
.content .side-bar .section.topics ul {
    margin:0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid black;
}

.content .side-bar .section.topics ul li a{
    border-bottom: 1px solid black;
    display: block;
    padding: 15px 0px 15px 0px;
    transition: all .5s;
}

.content .side-bar .section.topics ul li a:hover{
    padding-left: 10px;
    transition: all .5s;
}
/*AUTH PAGES*/
.auth-content{
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background: whitesmoke;
    border-radius: 8px;
}

.auth-content form div {
    margin-bottom: 10px;
}
.auth-content form .form-title{
    text-align: center;
    font-family: 'Candal', sans-serif;
}

.auth-content form div .btn{
    width: 80%;
    margin-left: 10%;
    font-size: 1.2em;
    font-family: 'Libre Caslon Display', sans-serif;
}

.auth-content form div label{
    font-size: 1.2em;
}

.auth-content form p {
    text-align: center;
}

.auth-content form p a {
    text-decoration: underline;
    color: black;
    transition: .5s;
}

.auth-content form p a:hover{
    color:orange;
    transition: .5s;
}

/*FOOTER*/
.footer{
    background: black;
    color: white;
    height: 400px;
    position: relative;
    text-align: center;
}

.footer .footer-content{
    height: 350px;
    display: flex;
}
.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
}

.footer .footer-content h1, .footer .footer-content h2{
    color: white;
}

.footer .footer-content .about h1 {
    font-family: 'Candal',sans-serif;
}

.footer .footer-content .about h1 span{
    color: rgb(240, 108, 0);
    font-family: 'Candal',sans-serif;
}

.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .about .socials a{
    border: 1px white solid;
    width: 45px;
    height: 41px;
    padding-top: 6px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px; 
    transition: .3s;                                                   /*<------------------------------------------->*/
}

.footer .footer-content .about .socials a .fa-facebook:hover{
    color: rgb(46, 46, 253) !important;
}

.footer .footer-content .about .socials a .fa-instagram:hover{
    color: rgb(243, 28, 128) !important;
}

.footer .footer-content .about .socials a .fa-twitter:hover{
    color: rgb(35, 181, 248) !important;
}

.footer .footer-content .about .socials a .fa-youtube:hover{
    color: rgb(250, 14, 14) !important;
}


.footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    list-style: none;
    font-size: 1.2em;
    transition: .3s;
}

.footer .footer-content .links ul a:hover{
    color: rgb(240, 108, 0);
    margin-left: 15px;
    transition: .3s;
}

.footer .footer-content .about .socials a:hover{
    border: 1px black solid;
    color: black;
    background: white;
    box-shadow: purple 5px 5px 12px ;
    transition: .3s;
}

/*Contact Us Form*/
.footer .footer-content .contact-form .contact-input {
    background: White;
    color: black;
    margin-bottom: 10px;
    line-height: 1.5em;
    padding: .9rem 1.4rem;
    Border: none;
}

.footer .footer-content .contact-form .contact-input:focus {
    background: rgb(250, 226, 250);
}
.footer .footer-content .contact-form .contact-btn{
    float: right;
    font-size: 1.1em;
    font-family: 'Libre Caslon Display',sans-serif;
}

/*Footer Bottom*/
.footer .footer-bottom{
    background: rgb(36, 35, 35);
    color: rgb(168, 167, 167);
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0px;
    padding-top:20px;
    width:100%;
}




/*Media Queries*/
@media only screen and (max-width: 1120px){ 
    .content .popular .post img{
        height: 60px;
        width: 75px;
        float: left;
        margin-right: 10px;
        margin-left: 5px;
        margin-bottom: 10px;
        border-radius: 4px;
    }
    .content{
        width:90%;
        margin: 30px auto 30px;
    
    }
    
    .content .main-content{                       /*<---Main Content-->*/
        width:70%;
        float: left;
    }
    
    .content .main-content.single{
        background: white;
        padding: 20px 50px;
        font-size: 1.1em;
        border-radius: 5px;
        
    }
    .content .main-content.single .post-title{
        text-align: center;
        margin-bottom: 30px;
    }
    
    .content .main-content .recent-post-title{
        margin: 20px;
    }
    
    .content .main-content .post{
        width:95%;
        height: 270px;
        margin:20px auto;
        border-radius: 5px;
        position: relative;   
        background: white;        /*<---------------*/
    }
    .content .main-content .post .post-preview h2{
        font-size: 1.2em; 
    }



}
@media only screen and (max-width: 1020px){               /*<-------10000px-------->*/
    /*Main content 1000px*/

    .content .main-content{                       /*<---Main Content-->*/
        width:100%;
        float: left;
        padding: 10px;
    }

    .content .main-content .post .post-preview h2{
        font-size: 1.2em; 
    }

    .content .main-content .post .post-preview .read-more{
        display: none;
    }

    .content .main-content .news-snippets .snippets-title a{
        width: 25px;
        font-size: 1rem;
        padding: none;
    }
    /*Poplar Posts*/
    .content .main-content .post{
        width:100%;
        height: 120px;
        padding-left: 18px;
        border-radius: 5px;
        position: relative; 
        padding: none;  
        background: white;        /*<---------------*/
    }
    
.content .popular .post{
    margin-top: 5px;
    padding-top: 5px;
}


.content .popular .post h4{
    font-size: 1.3em;
}

.content .popular .post h4{
    transition: .3s;
}

.content .popular .post h4:hover{
    text-decoration: underline;
    transition: .3s;
}


.content .popular .post img{
    height: 60px;
    width: 75px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.content .main-content .post .read-more{
    position: absolute;
    right: 10px;
}

.content .main-content .post .read-more:hover{
    text-decoration: none !important;
}

.content .main-content .post .post-image{
    width: 40%;
    height: 100%;
    float: left;                              /*<---------------*/
}

.content .main-content .post a:hover {

    text-decoration: underline !important;

}
.content .main-content .post .post-preview{
    padding: 10px;
    width: 60%;
    float: right;
}
    
    /*Side bar*/
.content .side-bar{
    width:100%;
    padding: 10px;
}

.content .side-bar.single{
    padding: 0px 10px;    
}
.content .side-bar .section{
    background: white;
    padding: 20px;
    border-radius: 5px; 
    margin-bottom: 20px;
}

.content .side-bar .section .section-title{
    margin: 10px 0px 10px 0px;
}
.content .side-bar .section.search{
    margin-top: 30px;
}
.content .side-bar .section.topics ul {
    margin:0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid black;
}

.content .side-bar .section.topics ul li a{
    border-bottom: 1px solid black;
    display: block;
    padding: 15px 0px 15px 0px;
    transition: all .5s;
}

.content .side-bar .section.topics ul li a:hover{
    padding-left: 10px;
    transition: all .5s;
}
    /*Side bar*/


    .content{
        width:100%;
    }

    header{
        position: relative;
    }

    header .logo{
        margin: 0px;
    }

    header .logo-text{
        font-size: 1.5em;
        margin-left: .5em;
    }

    header ul{
        width: 100%;
        background:black;
        max-height: 0px;
        overflow: hidden;
    }
    
    .showing {
        max-height: 100em;
    }

    header ul li {
        width: 100%;
    }

    header ul li ul li a {
        padding-left: 80px;
    }

    header ul li ul {
        position: static;
        display: block;
        width: 100%;
        display: none;
    }
    header ul li ul li {
        width: 100%;
        
    }     
    
    header ul li :hover ul {
        display: block;
    }

    header .menu-toggle {
        position:absolute;
        display: block; 
        right: 20px;
        top: 20px;
        font-size: 1.5em;
    }
    /*Footer*/
    .footer{
        height: auto;
    }
    
    .footer .footer-content{
        height: auto;
        flex-direction: column ;
    }
    .footer .footer-content .contact-form {
        padding-bottom: 90px;
    }
    .footer .footer-content .contact-form .contact-btn{
        width: 100%;
    }
}
@media only screen and (max-width: 1100px){
    .content .main-content .post{
        width:100%;
        height: 180px;
        padding-left: 18px;
        border-radius: 5px;
        position: relative; 
        padding: none;  
        background: white;        /*<---------------*/
    }
    
    .content{
        width:100%;
    }

    header{
        position: relative;
    }

    header .logo{
        margin: 0px;
    }

    header .logo-text{
        font-size: 1.5em;
        margin-left: .5em;
    }
    header .social-nav{
        display: none;
    }
    
    header .nav{
        float: right;
    }

    header ul{
        width: 100%;
        background: black;
        max-height: 0px;
        overflow: hidden;
    }
    
    .showing {
        max-height: 100em;
    }
    

    header ul li {
        width: 100%;
    }

    header ul li ul li a {
        padding-left: 80px;
    }

    header ul li ul {
        position: static;
        display: block;
        width: 100%;
        display: none;
    }
    header ul li ul li {
        width: 100%;
        
    }     
    
    header ul li :hover ul {
        display: block;
    }

    header .menu-toggle {
        position:absolute;
        display: block; 
        right: 20px;
        top: 20px;
        font-size: 1.5em;
    }
    .content .main-content .post .post-image{
        width: 40%;
        height: 100%;
        float: left;                              /*<---------------*/
    }
    .content .main-content .post .post-preview h2{
        font-size: 1.2em; 
       
    }

    

   
}
@media only screen and (max-width: 1004px){
    .content .main-content .post{
        width:100%;
        height: 190px;
        padding-left: 18px;
        border-radius: 5px;
        position: relative; 
        padding: none;  
        background: white;        /*<---------------*/
    }
    .content{
        width:100%;
    }

    header{
        position: relative;
    }

    header .logo{
        margin: 0px;
    }

    header .logo-text{
        font-size: 1.5em;
        margin-left: .5em;
    }

    header ul{
        width: 100%;
        background: black;
        max-height: 0px;
        overflow: hidden;
    }
    
    .showing {
        max-height: 100em;
    }

    header ul li {
        width: 100%;
    }

    header ul li ul li a {
        padding-left: 80px;
    }

    header ul li ul {
        position: static;
        display: block;
        width: 100%;
        display: none;
    }
    header ul li ul li {
        width: 100%;
        
    }     
    
    header ul li :hover ul {
        display: block;
    }

    header .menu-toggle {
        position:absolute;
        display: block; 
        right: 20px;
        top: 20px;
        font-size: 1.5em;
    }
    .content .main-content .post .post-image{
        width: 40%;
        height: 100%;
        float: left;                              /*<---------------*/
    }
    .content .main-content .post .post-preview h2{
        font-size: 1.5em; 
    }

    

   
}
@media only screen and (max-width: 730px){
    .main-content-wrapper{                      /*----Main content Wrapper------*/
        padding: 10px;
    }
    .content .main-content.single{
        background: white;
        padding: 10px 20px;
        font-size: 1.1em;
        border-radius: 5px;
        
    }
    .post-slider .next{
        right: 10px;    
    }

    .post-slider .prev{
        left: 10px;
    }
    .content .main-content .post{
        width:100%;
        height: 150px;
        padding-left: 18px;
        border-radius: 5px;
        position: relative; 
        padding: none;  
        background: white;        /*<---------------*/
    }
    .content{
        width:100%;
    }

    header{
        position: relative;
    }

    header .logo{
        margin: 0px;
    }

    header .logo-text{
        font-size: 1.5em;
        margin-left: .5em;
    }

    header ul{
        width: 100%;
        background:black;
        max-height: 0px;
        overflow: hidden;
    }
    
    .showing {
        max-height: 100em;
    }

    header ul li {
        width: 100%;
    }

    header ul li ul li a {
        padding-left: 80px;
    }

    header ul li ul {
        position: static;
        display: block;
        width: 100%;
        display: none;
    }
    header ul li ul li {
        width: 100%;
        
    }     
    
    header ul li :hover ul {
        display: block;
    }

    header .menu-toggle {
        position:absolute;
        display: block; 
        right: 20px;
        top: 20px;
        font-size: 1.5em;
    }
    .content .main-content .post .post-image{
        width: 40%;
        height: 100%;
        float: left;                              /*<---------------*/
    }
    .content .main-content .post .post-preview h2{
        font-size: 1.2em; 
    }

    

   
}
@media only screen and (max-width: 630px){
    .content .main-content .front-page .main-image img{
        width:100%;
        padding: 30px 5px 30px;
    }     
    .content .main-content .second-front-page .second-main-image img{
        width:100%;
        padding: 30px 5px 30px;
    }     
    .content .main-content .front-page .front-title{
        font-size: 0.8rem;
        padding-bottom: 20px;
    }
    .content .main-content .second-front-page .second-front-title{
        font-size: 0.8rem;
        padding-bottom: 20px;
    }
    .post-slider .next{
        right: 10px;    
    }
    .content .main-content.single{
        background: white;
        padding: 10px 20px;
        font-size: 1.1em;
        border-radius: 5px;
        
    }

    .post-slider .prev{
        left: 10px;
    }
    
    
    .content .main-content .post .post-preview{
        width: 100%;             /*-------Post Preview---------*/
    }
    .content .main-content .post .post-image{
        width: 100%;
        height: auto;  /*<-------Post image--------*/
    }
    .content .main-content .post{
        height: auto;
    }
    .content .main-content .post .overlay {
        position: absolute;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(255, 174, 0, 0.075);
        margin-top: 3px;
      }
    
      .content .main-content .post:hover .overlay {
        opacity: 1;
      }
}
